
<form (ngSubmit)="register()">

    <div class="container w-25 border border-dark mt-5 p-3" style="border-radius: 20px; height: 330px; background-color: rgba(240, 187, 12, 0.26);">
        <h2 class="text-center mt-3 text-white" >Registration Page</h2>
        <input id="user"  name="uname" [(ngModel)]="uname" placeholder="username"  class="form-control mt-4" type="text" >
        <input id="acc"  name="acno" [(ngModel)]="acno"  class="form-control mt-4" type="text" placeholder="account no">
        <input id="pass"  name="psw" [(ngModel)]="psw"  class="form-control mt-4" type="password" placeholder="password">

        <button type="submit"   class="btn btn-warning mt-3" style="margin-left: 36%;">signup</button>
    </div>
</form>
